ul.boxes
  position: relative
  +horizontal-list
  padding: 5px 0
  li
    width: 100px
    height: 100px
    position: relative
    margin: 0 20px 10px 0
    a
      position: absolute
      bottom: 0
      right: 0
      font-size: 16px
      font-weight: 900
      margin: 0px 6px
      color: #333333
      text-decoration: none
    a:hover
      text-decoration: underline
  li.archive
    background-color: #fcd0e6
  li.about
    background-color: #d0ebfc
  li.rss
    background-color: #fcf0d0
      
