#nav-bar
  %ul#nav-boxes
    %li.archive
      %a(href="/archives.html")
        %span ARCHIVE
    %li.about
      %a(href="/about.html")
        %span ABOUT
    %li.rss
      %a(href="/atom.xml")
        %span RSS
:javascript
  window.addEvent('load', function () {
    $('nav-boxes').getChildren().each(function(li){
      var link = li.getChildren()[0]
      var changeSize = new Fx.Tween(link, {
        link: 'cancel',
        property: 'height',
        duration: 400,
        transition: Fx.Transitions.Expo.easeOut
      });
      li.addEvents(
      {
        'mouseenter': function ()
        {
          changeSize.start(100, 120);
        },
        'mouseleave': function ()
        {
          changeSize.start(120, 100);
        }
      });
    });
  });
